services:
  web:
    command: ["pnpm", "start"]
    ports:
      - "3000:3000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  api:
    ports:
      - "8000:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
  db:
    ports:
      - "5434:5432"
  meili:
    ports:
      - "7700:7700"
  redis:
    ports:
      - "6379:6379"
  e2e:
    extra_hosts:
      - "host.docker.internal:host-gateway"
